@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@section ScriptSection{
    <script type="text/javascript" src="~/Scripts/index.js"></script>
    <script type="text/javascript" src="~/Scripts/Controls.js"></script>
}


<div class="container-fluid" style="margin-top:10px;" id="map-canvas">
</div>